$myFont: 'Gill Sans';
$myColor: #5CB85C;
$myFontStyle: italic;
$myFontSize: 18px;

img {
    margin-top: 30px;
}

h2 {
    font-family: $myFont;
    font-style: $myFontStyle;
    color: $myColor;
}

p {
    font-family: $myFont;
    font-size: $myFontSize;
}

button {
    font-family: $myFont;
}