<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
                <li role="presentation" routerLinkActive="active"><a [routerLink]="['/stitches']">Crochet Stitches</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="/stitch-counter">Stitch Counter</a></li>
                <li role="presentation" routerLinkActive="active"><a [routerLink]="['/yarn-types']">Types of Yarn</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="/locations">Hobby Store Locations</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="/newsletter-signup">Newsletter Sign-up</a></li>
              </ul>
        </div>
    </div>
</div>
