<div class="container-fluid">
        
    <div class="row">
        <div class="col-xs-10">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Crochet Stitches</a></li>
                <li role="presentation"><a href="#">Stitch Counter</a></li>
                <li role="presentation"><a href="#">Types of Yarn</a></li>
                <li role="presentation"><a href="#">Hobby Store Locations</a></li>
                <li role="presentation"><a href="#">Newsletter Sign-up</a></li>
              </ul>
        </div>
    </div>
</div>
